@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,500;1,600&display=swap");

.primary_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  /* background-color: aquamarine; */
}
.logo_wrapper {
  width: 20%;
  height: 100%;
  /* background-color: rgb(42, 65, 57); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_wrapper {
  width: 50%;
  height: 100%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_wrapper {
  height: 50px;
  /* background-color: aqua; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}
.input_wrapper input {
  width: 80%;
  border: none;
}
.input_wrapper input:focus {
  outline: none;
  border: none;
}
.input_wrapper i {
  font-size: 20px;
}
.nav_icoms_wrapper {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: rgb(29, 79, 122); */
}
.icons_wrapper_nav {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 80%;
}

.icons_wrapper_nav a {
  margin-right: 20px;
  /* background-color: aquamarine; */
}
.img_wrapper {
  /* background-color: blue; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.items {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 15px;
  height: 15px;
  top: 0;
  right: -5px;
  background-color: #e81d1d;
  font-size: 10px;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
}
.burger_wrapper {
  width: 20%;
  height: 100%;
  /* background-color: #e81d1d; */
  display: none;
}

/* ////////////////////////////Categories//////////////////////////// */

.category_wrapper {
  width: 100%;
  /* background-color: #e81d1d; */
  display: flex;
}
.select {
  width: 15%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.select_img_wrapper img {
  cursor: pointer;
}
.form-select {
  --bs-form-select-bg-img: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="%23343a40"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="m2 5 6 6 6-6"/%3e%3c/svg%3e
  );
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
  /* text-align: left; */
  color: #302f2f;
  background-color: transparent !important;
  background-image: var(--bs-form-select-bg-img),
    var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none !important;
  cursor: pointer;
}
.form-select:focus {
  border: none !important;
  box-shadow: none !important;
}

.categories {
  width: 90%;
  /* background-color: aqua; */
}

.categories ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  /* background-color: #e81d1d; */
  height: 100%;
}
.categories ul li {
  opacity: 0.92;

  /* font-family: "roboto"; */
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
  text-align: left;
  color: #302f2f;
  cursor: pointer;
  /* background-color: #302f2f; */
}
.categories ul li:hover {
  color: #ff4f04;
}
.active {
  color: #ff4f04;
  border-bottom: 3px solid #ff4f04;
  /* background-color: #e81d1d; */
}

@media (max-width: 768px) {
  .search_wrapper {
    display: none;
  }
  .nav_icoms_wrapper{
    display: none;
  }
  
  .logo_wrapper {
    width: 100%;
    height: 100%;
    /* background-color: rgb(42, 65, 57); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .burger_wrapper {
    width: 20%;
    height: 100%;
    /* background-color: #e81d1d; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
  }
}

